




















adonisjs/adonis-slim-hello/.gitignore
adonisjs/adonis-slim-hello/.editorconfig
svelte-jazz-hello/.gitignore
vue-official-ts/.editorconfig
vue-official-ts/.gitattributes
vue-official-ts/.gitignore
vite-deno-vue-hello/.gitignore
vite-deno-svelte-hello/.gitignore
vanilla/vanilla-ts/.gitignore
vanilla/vanilla-js/.gitignore
svelte-jazz-hello/.prettierignore
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/172082b1210bd1aa808f69b3f9fca536030e2483/0.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/172082b1210bd1aa808f69b3f9fca536030e2483/1.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/172082b1210bd1aa808f69b3f9fca536030e2483/2.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/172082b1210bd1aa808f69b3f9fca536030e2483/3.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/172082b1210bd1aa808f69b3f9fca536030e2483/4.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/172082b1210bd1aa808f69b3f9fca536030e2483/index.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/172082b1210bd1aa808f69b3f9fca536030e2483/index.pack.old
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/e9124b75f92d0cc653cf14949618348f8d6396c5/0.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/e9124b75f92d0cc653cf14949618348f8d6396c5/1.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/e9124b75f92d0cc653cf14949618348f8d6396c5/2.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/e9124b75f92d0cc653cf14949618348f8d6396c5/index.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/e9124b75f92d0cc653cf14949618348f8d6396c5/index.pack.old
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/fa49dd09340a185b3a4edc7bffc89140785a96a8/0.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/fa49dd09340a185b3a4edc7bffc89140785a96a8/1.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/fa49dd09340a185b3a4edc7bffc89140785a96a8/2.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/fa49dd09340a185b3a4edc7bffc89140785a96a8/3.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/fa49dd09340a185b3a4edc7bffc89140785a96a8/index.pack
filezilla_clone_with_angular_and_electron/.angular/cache/20.3.5/angular-webpack/fa49dd09340a185b3a4edc7bffc89140785a96a8/index.pack.old
solid-ts-breezeblocks/.modified
.gitignore
analog-social/public/.gitkeep
.gitignore
filezilla_clone_with_angular_and_electron/src/assets/.gitkeep
analog-social/.editorconfig
solid/templates/.github/dependabot.yml
electron-ts/dist-electron/preload.mjs
solid/templates/.husky/pre-commit
slack-like_chat_application/.cursor/rules/convex_rules.mdc
ripple-app/.prettierignore
file-explorer/.angular/cache/20.3.4/app/.tsbuildinfo
file-explorer/.angular/cache/20.3.4/app/vite/deps/@angular_common.js.map
file-explorer/.angular/cache/20.3.4/app/vite/deps/@angular_core.js.map
file-explorer/.angular/cache/20.3.4/app/vite/deps/@angular_platform-browser.js.map
file-explorer/.angular/cache/20.3.4/app/vite/deps/chunk-AY52PPTU.js.map
file-explorer/.angular/cache/20.3.4/app/vite/deps/chunk-GVO6ZJKZ.js.map
edgejs-hello/.idea/workspace.xml
solid-cool-people/.idx/dev.nix
solid-cool-people/.idx/icon.png
solid-cool-people/.modified
solid-ts-breezeblocks/.idx/dev.nix
solid-ts-breezeblocks/.idx/icon.png
filezilla_clone_with_angular_and_electron/release/builder-debug.yml
filezilla_clone_with_angular_and_electron/release/builder-effective-config.yaml
filezilla_clone_with_angular_and_electron/release/FileZilla Clone Setup 0.0.0.exe
filezilla_clone_with_angular_and_electron/release/FileZilla Clone Setup 0.0.0.exe.blockmap
filezilla_clone_with_angular_and_electron/release/win-unpacked/chrome_100_percent.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/chrome_200_percent.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/d3dcompiler_47.dll
filezilla_clone_with_angular_and_electron/release/win-unpacked/electron.exe
filezilla_clone_with_angular_and_electron/release/win-unpacked/ffmpeg.dll
filezilla_clone_with_angular_and_electron/release/win-unpacked/icudtl.dat
filezilla_clone_with_angular_and_electron/release/win-unpacked/libEGL.dll
filezilla_clone_with_angular_and_electron/release/win-unpacked/libGLESv2.dll
filezilla_clone_with_angular_and_electron/release/win-unpacked/LICENSE.electron.txt
filezilla_clone_with_angular_and_electron/release/win-unpacked/resources.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/snapshot_blob.bin
filezilla_clone_with_angular_and_electron/release/win-unpacked/v8_context_snapshot.bin
filezilla_clone_with_angular_and_electron/release/win-unpacked/vk_swiftshader.dll
filezilla_clone_with_angular_and_electron/release/win-unpacked/vulkan-1.dll
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/af.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/am.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ar.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/bg.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/bn.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ca.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/cs.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/da.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/de.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/el.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/en-GB.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/en-US.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/es-419.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/es.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/et.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/fa.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/fi.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/fil.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/fr.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/gu.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/he.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/hi.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/hr.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/hu.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/id.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/it.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ja.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/kn.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ko.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/lt.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/lv.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ml.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/mr.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ms.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/nb.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/nl.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/pl.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/pt-BR.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/pt-PT.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ro.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ru.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/sk.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/sl.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/sr.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/sv.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/sw.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ta.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/te.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/th.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/tr.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/uk.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/ur.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/vi.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/zh-CN.pak
filezilla_clone_with_angular_and_electron/release/win-unpacked/locales/zh-TW.pak
nextjs-file-service/.idx/dev.nix
nextjs-file-service/.modified
nextjs-file-ocr/.idx/dev.nix
nextjs-file-ocr/.idx/icon.png
nextjs-file-ocr/.modified
filezilla_clone_with_angular_and_electron/.cursor/rules/convex_rules.mdc
deep-seek/.husky/pre-commit
angular-electron-filezilla-clone/.cursor/rules/convex_rules.mdc
angular-electron-filezilla-clone/convex/_generated/api.d.ts
angular-electron-filezilla-clone/convex/_generated/api.js
angular-electron-filezilla-clone/convex/_generated/dataModel.d.ts
angular-electron-filezilla-clone/convex/_generated/server.d.ts
angular-electron-filezilla-clone/convex/_generated/server.js
electron-sample-vue/.vscode/extensions.json
tauri-sample/.vscode/extensions.json
electron-sample-vue/.vscode/extensions.json
electron-sample-vue/.vscode/extensions.json
electron-sample-vue/.vscode/extensions.json
electron-sample-vue/.vscode/extensions.json
electron-sample-vue/.vscode/extensions.json
electron-sample-vue/package-lock.json
tauri-sample/.vscode/extensions.json
